.boxfb {
  border: solid;
  display: flex;
  flex-wrap: wrap;
}

.itemfb {
  width: 50%;
  border: 1px solid red;
}

.itemfb img{
width: 100%;

}

.boxgg {
 
  display: flex;
  flex-wrap: wrap;
}

.itemgg {
  width: 50%;
  border: 1px solid red;
}

.itemgg img{
width: 100%;

}

















@media screen and (max-width: 480px) {

  .itemfb {
    width: 50%;
    border: 1px solid rgb(30, 255, 0);
    height: 100px;
  }




}