iframe {
width: 560px;
height: 315px;
}

.postimg {
    max-width: 600px;
    height: auto;
 
}

 
.cardimg {
    width: 100%;
}



@media screen and (max-width: 480px) {
    iframe {
        width: 100%;
        height: 210px;
        }

        .cardimg {
            width: 100%;
            height: 220px;
        }
        


}





.login {
    max-width: 400px;
    box-shadow: 3px 3px 15px rgba(0,0,0, 5), 13px 13px 15px rgba(256,256,256, 3);
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 400px;
    padding: 15px;
  }