.facebookads {
    max-width: 1000px;
    margin: auto;
}


.google {
    max-width: 1000px;
    margin: auto;
}
.cass {
    max-width: 1000px;
    margin: auto;
}



footer {
    height: 300px;
}


.section {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    display: block;
    width: 49%;
  padding: 0.5%;
    border: 1px solid rgb(0, 47, 255);

}

.item img{
    width: 100%;
    
}

.reviwe img {
    width: 30%;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .slider {
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  